<div style="text-align: center; font-size: 13px; font-family: Verdana, Geneva, Tahoma, sans-serif;">460 West 34th
    Street, 15th floor, New York - Hotline: 804-377-3580 - 804-399-3580
    <a href="" style="margin-left: 6%; color: black;">Help</a>
    <a routerLink="/orderstatus" style="margin-left: 1%; color: black;">Order Status</a>
    <a href="" style="margin-left: 1%; color: black;">Contact</a>
    <a href="#" style="margin-left: 1%;"> <img src="../assets/searchicon.png" width="30px" height="30px"></a>
  </div>
  
  <nav class="navbar navbar-expand-sm navbar-light "
    style="font-size: 19px; background-color: white; font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"></div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">
              HOME
              <span class="sr-only">
                (current)
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/productdetails">
              OUR STORY
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/orderpage">
              MY BAKES
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <img src="../assets/logo.jpg" width="90px" height="80px">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product">
              RECIPE
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              BLOG
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              LOGIN
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/cart">
              <img src="../assets/carticon.png" width="40px" height="40px">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>