<div id="topimage" style="width: 100%;">
  <img src="../assets/topcupcake.jpg" alt="Image not available" style="width:100%;">
  <div class="centered">Cart</div>
</div>

<div class="card"
  style="width: 100%; padding-left: 10%; padding-right: 10%;padding-top: 2%; background: white; border-color: white;">
  <div class="row">
    <div class="column">
      <br>
      <h5>ALL PRODUCTS</h5>
    </div>
    <div class="column" style="padding-left: 5%; width: 22%; ">

    </div>
    <div class="column" style="padding-left: 2%;">
      <br>
      <h5>PRICE</h5>
    </div>
    <div class="column" style="padding-left: 2%;">
      <br>
      <h5>QUANTITY</h5>
    </div>
    <div class="column" style="padding-left: 2%; width: 17%;">
      <br>
      <h5>TOTAL</h5>
    </div>
    <div class="column" style="padding-left: 2%; ">

    </div>
  </div><br>
</div>
<div style="background-color: gray; width: 90%; height: 2px;  margin-left: 6%; opacity: 50%;"></div>


<div class="card"
  style="width: 100%; padding-left: 10%; padding-right: 10%;padding-top: 2%; background: white; border-color: white;">
  <div class="row">
    <div class="column">
      <img src="../../assets/tuckshopcake.jpg" alt="Image Loading Failed" style="width:100%; height: 90%;">
    </div>
    <div class="column" style="padding-left: 1%; width: 24%; ">
      <br><br><br>
      <h5 style="text-align: left;">Tuck Shop Cake</h5>
    </div>
    <div class="column" style="padding-left: 2%;  width: 17%;">
      <br><br><br>
      <h6>$ 35.00</h6>
    </div>
    <div class="column" style="padding-left: 2%;">
      <br><br><br>
      <button style="height: 40px; border-bottom-left-radius: 25px; border-top-left-radius: 25px;">-</button>
      <input type="number" min="1" value="1" style="text-align: center;">
      <button style="height: 40px; border-bottom-right-radius: 25px; border-top-right-radius: 25px;">+</button>
    </div>
    <div class="column" style="padding-left: 2%; width: 17%; ">
      <br><br><br>
      <h6>$ 35.00</h6>
    </div>
    <div class="column" style="padding-left: 2%; width: 3%; ">
      <br><br><br>
      <div class="fa fa-times-circle" style="font-size:40px;color:red"></div>
    </div>
  </div>
</div>
<div style="background-color: gray; width: 90%; height: 2px;  margin-left: 6%; opacity: 50%;"></div>

<div class="card"
  style="width: 100%; padding-left: 10%; padding-right: 10%;padding-top: 2%; background: white; border-color: white;">
  <div class="row">
    <div class="column">
      <img src="../../assets/raspberrywhitechocolatecake.jpg" alt="Image Loading Failed" style="width:100%; height: 90%;">
    </div>
    <div class="column" style="padding-left: 1%; width: 24%; ">
      <br><br><br>
      <h5 style="text-align: left;">Raspberry & White Chocolate Cake</h5>
    </div>
    <div class="column" style="padding-left: 2%;  width: 17%;">
      <br><br><br>
      <h6>$ 35.00</h6>
    </div>
    <div class="column" style="padding-left: 2%;">
      <br><br><br>
      <button style="height: 40px; border-bottom-left-radius: 25px; border-top-left-radius: 25px;">-</button>
      <input type="number" min="1" value="1" style="text-align: center;">
      <button style="height: 40px; border-bottom-right-radius: 25px; border-top-right-radius: 25px;">+</button>
    </div>
    <div class="column" style="padding-left: 2%; width: 17%; ">
      <br><br><br>
      <h6>$ 65.00</h6>
    </div>
    <div class="column" style="padding-left: 2%; width: 3%; ">
      <br><br><br>
      <div class="fa fa-times-circle" style="font-size:40px;color:red"></div>
    </div>
  </div>
</div>
<div style="background-color: gray; width: 90%; height: 2px;  margin-left: 6%; opacity: 50%;"></div>

<div class="card"
  style="width: 100%; padding-left: 10%; padding-right: 10%;padding-top: 2%; background: white; border-color: white;">
  <div class="row">
    <div class="column">
      <img src="../../assets/raspberryripplecake.jpeg" alt="Image Loading Failed" style="width:100%; height: 90%;">
    </div>
    <div class="column" style="padding-left: 1%; width: 24%; ">
      <br><br><br>
      <h5 style="text-align: left;">Raspberry Ripple Cake</h5>
    </div>
    <div class="column" style="padding-left: 2%;  width: 17%;">
      <br><br><br>
      <h6>$ 35.00</h6>
    </div>
    <div class="column" style="padding-left: 2%;">
      <br><br><br>
      <button style="height: 40px; border-bottom-left-radius: 25px; border-top-left-radius: 25px;">-</button>
      <input type="number" min="1" value="1" style="text-align: center;">
      <button style="height: 40px; border-bottom-right-radius: 25px; border-top-right-radius: 25px;">+</button>
    </div>
    <div class="column" style="padding-left: 2%; width: 17%; ">
      <br><br><br>
      <h6>$ 90.00</h6>
    </div>
    <div class="column" style="padding-left: 2%; width: 3%; ">
      <br><br><br>
      <div class="fa fa-times-circle" style="font-size:40px;color:red"></div>
    </div>
  </div>
</div>
<div style="background-color: gray; width: 90%; height: 2px;  margin-left: 6%; opacity: 50%;"></div>


<div class="card"
  style="width: 100%; padding-left: 10%; padding-right: 10%;padding-top: 2%; background: white; border-color: white;">
  <div class="row">
    <div class="column" style="width: 100%; text-align: right;">
      <br>
      <h5>GRANT TOTAL: $ 190.00</h5>
      <br>
      <div id="checkout" >Proceed to Checkout</div>
    </div>
  </div>
</div><br><br>