<!-- <div style="text-align: center; font-size: 13px; font-family: Verdana, Geneva, Tahoma, sans-serif;">460 West 34th
  Street, 15th floor, New York - Hotline: 804-377-3580 - 804-399-3580
  <a href="" style="margin-left: 6%; color: black;">Help</a>
  <a href="" style="margin-left: 1%; color: black;">Order Status</a>
  <a href="" style="margin-left: 1%; color: black;">Contact</a>
  <a href="#" style="margin-left: 1%;"> <img src="../assets/searchicon.png" width="30px" height="30px"></a>
</div>

<nav class="navbar navbar-expand-sm navbar-light "
  style="font-size: 19px; background-color: white; font-family: Verdana, Geneva, Tahoma, sans-serif;">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            HOME
            <span class="sr-only">
              (current)
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            OUR STORY
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            MY BAKES
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">
            <img src="../assets/logo.jpg" width="90px" height="80px">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            RECIPE
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            BLOG
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            LOGIN
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/cart">
            <img src="../assets/carticon.png" width="40px" height="40px">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

 <div id="topimage" style="width: 100%;">
  <img src="../assets/topcupcake.jpg" alt="Image not available" style="width:100%;">
  <div class="centered">Previous Orders</div>
</div>

<div id="yourorder">Your Orders</div>

<div style="background-color: gray; width: 90%; height: 2px; margin-left: 6%; opacity: 50%;"></div>
<div class="card"
  style="width: 100%; padding-left: 10%; padding-right: 10%;padding-top: 2%; background: white; border-color: white;">
  <div class="row">
    <div class="column">
      <img src="../assets/smorescake.jpg" alt="Image Loading Failed" style="width:100%">
    </div>
    <div class="column" style="padding-left: 5%; width: 30%; ">
      <br>
      <h5>Smores Cake</h5>
      <br>
      4 layers of rich chocolate sponge filled with salted caramel buttercream,biscoff spread and biscoff biscuit
      chunks.
    </div>
    <div class="column" style="padding-left: 2%;">
      <br><br><br>
      <h6>$ 120</h6>
    </div>
    <div class="column" style="padding-left: 2%; ">
      <br><br><br>
      <h6>Purchased on<br>18/11/2020</h6>
    </div>
    <div class="column" style="padding-left: 2%; ">
      <br><br><br>
      <button id="orderagain">Order Again</button>
    </div>
  </div><br><br>
</div>

<div style="background-color: gray; width: 90%; height: 2px; margin-left: 6%; opacity: 50%;"></div>
<div class="card"
  style="width: 100%; padding-left: 10%; padding-right: 10%;padding-top: 2%; background: white; border-color: white;">
  <div class="row">
    <div class="column">
      <img src="../assets/bespoke.jpg" alt="Image Loading Failed" style="width:100%">
    </div>
    <div class="column" style="padding-left: 5%; width: 30%; ">
      <br>
      <h5>Bespoke Cake (Mix & Match)</h5>
      <br>
      Build your own Cake! Pick any of our cake sponges and combine with any of our decorations for a unique cake that's all you...
    </div>
    <div class="column" style="padding-left: 2%;">
      <br><br><br>
      <h6>$ 220</h6>
    </div>
    <div class="column" style="padding-left: 2%; ">
      <br><br><br>
      <h6>Purchased on<br>18/11/2020</h6>
    </div>
    <div class="column" style="padding-left: 2%; ">
      <br><br><br>
      <button id="orderagain">Order Again</button>
    </div>
  </div><br><br>
</div>
 -->

<app-header></app-header>

<router-outlet>

</router-outlet>
<app-footer></app-footer>