<div id="topimage" style="width: 100%;">
    <img src="../assets/topcupcake.jpg" alt="Image not available" style="width:100%;">
    <div class="centered">Order Status</div>
  </div>
  
  <div
    style="margin-top: 4%; font-size: 20px; margin-left: 8%; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold; margin-bottom: 2%;">
    Address for Delivery</div>
  
  <div style="background-color: gray; width: 90%; height: 2px; margin-left: 6%; opacity: 50%;"></div>
  
  <div class="card"
    style="width: 100%; padding-left: 10%; padding-right: 10%;padding-top: 2%; background: white; border-color: white; font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <div class="row">
  
      <div class="column" style="text-align: left;">
        <form>
          <div style="margin-top: 2%;">
            <h5>Email</h5>
          </div>
          <div style="margin-top: 2%;"><input type="email" name="email" placeholder="Enter Email Address" required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></div>
          <div style="margin-top: 2%;">
            <h5>Address</h5>
          </div>
          <div style="margin-top: 2%;"><input type="text" name="address" placeholder="Address" required minlength="5"
              maxlength='50'></div>
          <div style="margin-top: 2%;">
            <h5>Phone </h5>
          </div>
          <div style="margin-top: 2%;"><input type="text" name="mobile" placeholder="+919524578940" required
              minlength="13" maxlength='13' pattern="/^+91(7\d|8\d|9\d)\d{9}$/"></div>
          <div style="margin-top: 4%; padding-left: 10%;"><button type="submit" id="ordernow">ORDER NOW</button></div>
        </form>
      </div>
  
      <div class="column" style="padding-left: 5%; margin-top: 2%; padding-left: 20%;">
        <div style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold; text-align: left;">
          Order Summary</div>
        <div style="background-color: gray;margin-top: 2%; width: 80%; height: 2px; opacity: 50%;"></div>
  
        <div class="card"
        style="width: 100%;  padding-top: 2%; background: white; border-color: white;">
        <div class="row">
          <div class="column">
            <img src="../assets/bespoke.jpg" alt="Image Loading Failed" style="width:80%; height: 80%; ">
          </div>
          <div class="column" style="text-align: left; padding: 2%;">
            <br>
            Smores Cake
            <br>
            Quantity: 1
            <br>
            Total: $ 35.00
          </div>
        </div>
      </div>
      <div style="background-color: gray; width: 80%; height: 2px; opacity: 30%;"></div>
  
      <div class="card"
        style="width: 100%;  padding-top: 2%; background: white; border-color: white;">
        <div class="row">
          <div class="column">
            <img src="../assets/bespoke.jpg" alt="Image Loading Failed" style="width:80%; height: 80%; ">
          </div>
          <div class="column" style="text-align: left; padding: 2%;">
            <br>
            Smores Cake
            <br>
            Quantity: 1
            <br>
            Total: $ 35.00
          </div>
        </div>
      </div>
      <div style="background-color: gray; width: 80%; height: 2px; opacity: 30%;"></div>
  
      <div class="card"
        style="width: 100%;  padding-top: 2%; background: white; border-color: white;">
        <div class="row">
          <div class="column">
            <img src="../assets/bespoke.jpg" alt="Image Loading Failed" style="width:80%; height: 80%; ">
          </div>
          <div class="column" style="text-align: left; padding-left: 2%;">
            <br>
            Smores Cake
            <br>
            Quantity: 1
            <br>
            Total: $ 35.00
          </div>
        </div>
      </div>
      <div style="background-color: gray; width: 80%; height: 2px; opacity: 30%;"></div>
      <div style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold; text-align: left; padding-left: 2%; padding-top: 2%;">
        Grand Total: $ 105.00</div>
  
  
  
  
      </div>
  
    </div><br><br>
  </div>